<div class="row">
  <div class="col-xxl-5">
    <nb-card>
      <nb-card-header>Lexia - Conceptos analizados</nb-card-header>
      <nb-card-body>
        <nb-select placeholder="Seleccionar concepto"  (selectedChange)="cambiaConcepto($event)" >
          <nb-option *ngFor="let c of conceptos" value="{{c.concepto}}" >{{c.detalle}}</nb-option>
        </nb-select>
      </nb-card-body>
    </nb-card>
    <div echarts [options]="optiontotal"  class="demo-chart"></div>
  </div>

  <div class="col-xxl-7"> 
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div>
